.MMM-AvfallshentingOslo .icon {
    width: 3rem;
    margin-right: 0.2rem;
}

.MMM-AvfallshentingOslo table {
    width: auto;
}
.region.right .MMM-AvfallshentingOslo table {
    float: right;
}

.MMM-AvfallshentingOslo .date:first-letter  {
    text-transform: uppercase;
}

.MMM-AvfallshentingOslo .trashType {
    padding-right: 1rem;
}