.MMM-AvfallshentingOslo .icon {
    width: 3rem;
    margin-right: 0.2rem;
}

.MMM-AvfallshentingOslo .module-content {
    display: flex;
    justify-content: center;
}

.region.right .MMM-AvfallshentingOslo .module-content {
    justify-content: flex-end;
}

.region.left .MMM-AvfallshentingOslo .module-content {
    justify-content: flex-start;
}

.MMM-AvfallshentingOslo .date:first-letter  {
    text-transform: uppercase;
}

.MMM-AvfallshentingOslo .trashType {
    padding-right: 1rem;
}